.freeCell{
    -fx-background-color: transparent;
}

.freeCell: hover{
    -fx-background-color: yellow;
}

.oneDeckShip{
    -fx-background-image: url("../images/shipPart.png");
}

.ship {
    -fx-background-image: url("../images/shipPart.png");
}

.hitShip {
    -fx-background-image: url("../images/hitShip.png");
}

.hitMiss {
    -fx-background-image: url("../images/hitMiss.png");
}

.freeOpponentCell {
    -fx-background-color: transparent;
}

.freeOpponentCell: hover {
    -fx-background-color: crimson;
}

#oneDeckShipImage{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/shipPart.png");
    -fx-background-position: left;
    -fx-background-repeat: no-repeat;
}

#twoDeckShipImage{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/shipPart.png");
    -fx-background-position: left;
    -fx-background-repeat: repeat;
}

#threeDeckShipImage{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/shipPart.png");
    -fx-background-position: left;
    -fx-background-repeat: repeat;
}

#fourDeckShipImage{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/shipPart.png");
    -fx-background-position: left;
    -fx-background-repeat: repeat;
}

